body {
    background-color:#40bad5;
}

.navbar {
    padding: 0 0 4.5rem 0;
  }
  
.navbar-brand {
    font-family: 'Arial';
    font-size: 2.5rem;
    font-weight: bold;
  }
  
.nav-item {
    padding: 0 18px;
  }
  
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
  }

h1 {
      text-align: center;
      color: #f8fab8;
  }

.list {
      color: white;
  }

.boulder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
      }

 a:hover {
        color: #f3c623;
      }

a {
    color: 
}

.para {
     background: url("jhin.jpeg") 100% fixed;
}

.paraInner {
    padding: 200px;
}